body {
    background-color:rgb(85, 85, 126) ;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header li {
    padding: 10px;
}